@page
@using CodeGraph.Common
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if(Model.Publishers == null || !Model.Publishers.Any())
    {
        <h3>Продюсеры не обнаружены</h3>
    }
    else
    {
        <h3>Продюсеры:</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Микросервис</th>
                <th scope="col">Exchange</th>
                <th scope="col">Routing</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Publishers)
                            {
                                <tr>
                                    <td scope="row">@item.Microservice</td>
                                    <td scope="row">@item.ExchangeName</td>
                                    <td scope="row">@item.RoutingKey</td>
                                    @if (item.MemberType == QueueMemberType.Consumer)
                                    {
                                        <td scope="row">Подписчик</td>
                                    }
                                    else
                                    {
                                        <td scope="row">Подюсер</td>
                                    }
                                </tr>
                            }
            </tbody>
        </table>
      
            
    }
    <hr/>
    @if(Model.Consumers == null || !Model.Consumers.Any())
        {
            <h3>Подписчики не обнаружены</h3>
        }
        else
        {
            <h3>Подписчики:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Микросервис</th>
                    <th scope="col">Exchange</th>
                    <th scope="col">Routing</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Consumers)
                                {
                                    <tr>
                                        <td scope="row">@item.Microservice</td>
                                        <td scope="row">@item.ExchangeName</td>
                                        <td scope="row">@item.RoutingKey</td>
                                        @if (item.MemberType == QueueMemberType.Consumer)
                                        {
                                            <td scope="row">Подписчик</td>
                                        }
                                        else
                                        {
                                            <td scope="row">Подюсер</td>
                                        }
                                    </tr>
                                }
                </tbody>
            </table>
          
                
        }
    
</div>